################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OnwardsDalUnitTestCases/bin/Debug/net8.0
/.vs/OnwardsSolution
