################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OnwardsDalUnitTestCases/bin/Debug/net8.0
/.vs/OnwardsSolution
/OnwardsApi/bin/Debug/net8.0/OnwardsApi.deps.json
/OnwardsApi/bin/Debug/net8.0/OnwardsApi.dll
/OnwardsApi/bin/Debug/net8.0/OnwardsApi.exe
/OnwardsApi/bin/Debug/net8.0/OnwardsApi.pdb
/OnwardsApi/bin/Debug/net8.0/OnwardsApi.xml
/OnwardsApi/bin/Debug/net8.0/OnwardsBLL.dll
/OnwardsApi/bin/Debug/net8.0/OnwardsBLL.pdb
/OnwardsApi/bin/Debug/net8.0/OnwardsDAL.dll
/OnwardsApi/bin/Debug/net8.0/OnwardsDAL.pdb
/OnwardsApi/bin/Debug/net8.0/OnwardsModel.dll
/OnwardsApi/bin/Debug/net8.0/OnwardsModel.pdb
/OnwardsBllUnitTestCases/bin/Debug/net8.0
/OnwardsBllUnitTestCases/obj
/OnwardsDAL/bin/Debug/net8.0/OnwardsModel.dll
/OnwardsDAL/bin/Debug/net8.0/OnwardsModel.pdb
/OnwardsDAL/obj/Debug/net8.0/ref/OnwardsDAL.dll
/OnwardsDAL/obj/Debug/net8.0/refint/OnwardsDAL.dll
/OnwardsDAL/obj/Debug/net8.0
/OnwardsDAL/obj/OnwardsDAL.csproj.nuget.dgspec.json
/OnwardsDAL/obj/project.assets.json
/OnwardsDAL/obj/project.nuget.cache
/OnwardsDalUnitTestCases/obj
/OnwardsModel/bin/Debug/net8.0/OnwardsModel.dll
/OnwardsModel/bin/Debug/net8.0/OnwardsModel.pdb
/OnwardsApi/obj/Debug/net8.0/ref/OnwardsApi.dll
/OnwardsApi/obj/Debug/net8.0/refint/OnwardsApi.dll
/OnwardsApi/obj/Debug/net8.0/OnwardsApi.AssemblyInfo.cs
/OnwardsApi/obj/Debug/net8.0/OnwardsApi.AssemblyInfoInputs.cache
/OnwardsApi/obj/Debug/net8.0/OnwardsApi.csproj.AssemblyReference.cache
/OnwardsApi/obj/Debug/net8.0/OnwardsApi.csproj.CoreCompileInputs.cache
/OnwardsApi/obj/Debug/net8.0/OnwardsApi.csproj.FileListAbsolute.txt
/OnwardsApi/obj/Debug/net8.0/OnwardsApi.dll
/OnwardsApi/obj/Debug/net8.0/OnwardsApi.genruntimeconfig.cache
/OnwardsApi/obj/Debug/net8.0/OnwardsApi.pdb
/OnwardsApi/obj/Debug/net8.0/OnwardsApi.sourcelink.json
/OnwardsBLL/obj/Debug/net8.0/ref/OnwardsBLL.dll
/OnwardsBLL/obj/Debug/net8.0/refint/OnwardsBLL.dll
/OnwardsDAL/bin/Debug/net8.0/OnwardsDAL.deps.json
/OnwardsDAL/bin/Debug/net8.0/OnwardsDAL.dll
/OnwardsDAL/bin/Debug/net8.0/OnwardsDAL.pdb
/OnwardsModel/obj/Debug/net8.0/ref/OnwardsModel.dll
/OnwardsModel/obj/Debug/net8.0/refint/OnwardsModel.dll
